<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width-device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous" />
  <title>{% block title %}Home{% endblock %}</title>
  <style>
    .navbar {
      background-color: #0a3d62;
      width: 100%;
    }

    .navbar-nav {
      margin-right: auto;
    }

    .nav-item {
      margin: 0 10px;
    }

    .dropdown-menu {
      color: white;
    }

    .dropdown-item {
      color: black;
    }

    .dropdown-item:hover {
      color: grey;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a href="/dashboard" class="navbar-brand">Bank</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav">
        <a class="nav-item nav-link" id="checkingBalances" href="/checking-balances">Checking Balances</a>
        <a class="nav-item nav-link" id="makingDeposits" href="/making-deposits">Making Deposits</a>
        <a class="nav-item nav-link" id="withdrawingFunds" href="/withdrawing-funds">Withdrawing Funds</a>
        <div class="ml-auto">
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user" aria-hidden="true""></i> Profile
            </a>
              <div class="dropdown-menu" aria-labelledby="profileDropdown">
                <a class="dropdown-item" id="viewAccount" href="/view-account">View Account</a>
                <a class="dropdown-item" id="signOut" href="/logout">Sign Out</a>
              </div>
            </div>
          </div>
        </div>
  </nav>

        
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</body>

</html>